.l-header {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 16px;
}

.c-form-movie-searcher {
  display: flex;
  place-items: center;

  &__error {
    color: red;
  }
}

.l-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px 0px;
}

.c-movie {
  display: flex;
  place-items: center;
  margin: 0;
  gap: 16px;

  &__info {
    display: flex;
    flex-direction: column;
    place-items: left;
    width: 300px;
  }

  &__img {
    width: 200px;
    height: 300px;
  }
}
