.tw-followCard {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  color: #fff;
  font-size: 0.8 rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 64px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--userName {
      opacity: 0.6;
    }
  }

  &__btn {
    border: 0;
    margin-left: 16px;
    border-radius: 64px;
    padding: 6px 16px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;

    &--following {
      background-color: transparent;
      color: #fff;
      border: 0.5px solid #ffffff80;
    }

    &--following:hover {
      background-color: #ff20201a;
      color: #ff2020;
      border: 0.5px solid #ff2020;
    }

    &--stopFollow {
      display: none;
    }

    &--following:hover &--stopFollow {
      display: block;
    }

    &--following:hover &--following-text {
      display: none;
    }
  }

  &__btn:hover {
    opacity: 0.8;
    transition: 0.5s ease-in opacity;
  }
}
